<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora post</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user"><%= post.username%> </h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:808/posts/<%= post.id %>">SEE in details</a>
            <a href="http://localhost:808/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id %>/?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
            
        </div>
    <% } %>
    <br>
<hr>
<br>
<a href="http://localhost:808/posts/new">New post</a>

</body>
</html>